@using SplitWiseRepository.Constants
@model ExpenseVM

<div class="modal-header">
    <h1 class="modal-title fs-5" id="addFriendModalLabel">@(Model.Id == 0 ? "Add new" : "Edit") expense</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-action="SaveGroup" asp-controller="Group" id="groupForm" class="d-flex flex-column" style="max-width: 500px;"
    enctype="multipart/form-data">
    <div class="modal-body">
        <!-- Image -->
        <input asp-for="@Model.Id" hidden>
        <input asp-for="@Model.GroupId" hidden>

        @if (Model.GroupId == 0)
        {
            <div class="d-flex flex-wrap gap-2 mb-2" id="expenseMembers">
                @* Loop here *@
                <div class="d-flex align-items-center gap-1 p-1 border border-secondary-subtle rounded-pill">
                    <img src="/images/Default_pfp.png" alt="" class=" border border-secondary-subtle rounded-circle"
                        width="20px" height="20px">
                    <span>Name</span>
                    <button type="button" class="removeExpenseMemberBtn btn-close" aria-label="Close"></button>
                </div>
            </div>

            <div class="position-relative mb-2">
                <input type="text" class="form-control border-secondary-subtle rounded-0" id="expenseFriendSearch"
                    placeholder="Search">
                <div id="expenseFriendList"
                    class="d-flex flex-column gap-2 overflow-y-auto position-absolute top-3 z-1 w-100 bg-secondary-subtle"
                    style="max-height: 150px;">
                    @* Loop here *@
                    <div class="p-1" onclick="">
                        <img src="/images/Default_pfp.png" alt="" class="rounded-circle border border-secondary-subtle"
                            width="30px" height="30px">
                        <span>Name</span>
                    </div>
                </div>
            </div>
        }

        <div class="d-flex gap-3">
            <!-- Title -->
            <div class="rounded-0 col-5">
                <label asp-for=@Model.Title class="form-label px-1">Expense title</label>
                <input asp-for=@Model.Title class="form-control border-secondary-subtle" placeholder="Expense title">
                <span class="text-danger" asp-validation-for="@Model.Title"></span>
            </div>

            <!-- Amount -->
            <div class="rounded-0 col-5">
                <label asp-for=@Model.Amount class="form-label px-1">Amount</label>
                <input asp-for=@Model.Amount class="form-control border-secondary-subtle">
                <span class="text-danger" asp-validation-for="@Model.Amount"></span>
            </div>
        </div>

        <div class="d-flex gap-3 mt-2">
            <!-- Category -->
            <div class="rounded-0 col-5">
                <label asp-for="@Model.CategoryId" class="form-label px-1">Category</label>
                <select asp-for="@Model.CategoryId" class="form-select rounded-0 border-secondary-subtle">
                    @foreach (Category category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
            </div>

            <!-- Currency -->
            <div class="rounded-0 col-5">
                <label asp-for="@Model.CurrencyId" class="form-label px-1">Currency</label>
                <select asp-for="@Model.CurrencyId" class="form-select rounded-0 border-secondary-subtle">
                    @foreach (Currency currency in Model.Currencies)
                    {
                        <option value="@currency.Id">@currency.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@Model.CurrencyId"></span>
            </div>
        </div>

        <div class="d-flex gap-3 mt-2">
            <!-- PaidBy -->
            <div class="rounded-0 col-5">
                <label asp-for="@Model.PaidById" class="form-label px-1">Paid by</label>
                <select asp-for="@Model.PaidById" class="form-select rounded-0 border-secondary-subtle"
                    id="paidBySelect">
                    @foreach (ExpenseShareVM expenseShare in Model.ExpenseShares)
                    {
                        <option value="@expenseShare.UserId">@expenseShare.UserName</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="@Model.PaidById"></span>
            </div>

            <!-- Split type -->
            <div class="rounded-0 col-5">
                <label asp-for="@Model.SplitType" class="form-label px-1">Splittype</label>
                <select asp-for="@Model.SplitType" class="form-select rounded-0 border-secondary-subtle">
                    <option value="@SplitType.Equaly">@SplitType.Equaly.ToString()</option>
                    <option value="@SplitType.Unequaly">@SplitType.Unequaly.ToString()</option>
                    <option value="@SplitType.ByShare">@SplitType.ByShare.ToString()</option>
                    <option value="@SplitType.ByPercentage">@SplitType.ByPercentage.ToString()</option>
                </select>
                <span class="text-danger" asp-validation-for="@Model.SplitType"></span>
            </div>
        </div>

        <!-- Expense share -->
        <div class="mt-2" id="expenseShareDiv">
            <p class="mb-2 fs-5">Split amount</p>
            @foreach (ExpenseShareVM expenseShare in Model.ExpenseShares)
            {
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <img src="/images/Default_pfp.png" alt="" width="30px" height="30px">
                        <span>Name</span>
                    </div>
                    <input type="text" class="amount form-control border-secondary-subtle" value="0.00" min="0"
                        style="max-width: 100px;">
                </div>
            }
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>


<script>
    // Prevent negative amount
    $(document).on("input", ".amount", function () {
        let input = this;

        console.log(this.value)

        let formatedValue = input.value.toString().replace(/[^0-9.]/gi, "");

        if (formatedValue.startsWith(".")) {
            formatedValue = "0" + formatedValue;
        }

        // Handle multiple dots
        let firstDotIndex = formatedValue.indexOf(".");
        if (firstDotIndex !== -1) {
            let beforeDot = formatedValue.substring(0, firstDotIndex + 1);
            let afterDot = formatedValue.substring(firstDotIndex + 1).replace(/\./g, "");
            formatedValue = beforeDot + afterDot;
            formatedValue = beforeDot + afterDot.substring(0, 2);
        }

        // Prevent invalid leading zeros
        if (formatedValue.startsWith("00") && !formatedValue.startsWith("0.")) {
            formatedValue = formatedValue.replace(/^0+/, "0");
        }

        if (input.value !== formatedValue) {
            input.value = formatedValue || "0.00";
        }
    });
</script>

<script>
    $("#expenseFriendSearch").on("input", function () {
        if (searchTimeout === null) {
            searchTimeout = setTimeout(function () {
                console.log($(this).val())
                getExpenseFriendList();
            }, 500);
        }
    });

    function getExpenseFriendList() {
        console.log("H")
        clearTimeout(searchTimeout);
        searchTimeout = null;

        let filter = {
            SearchString: $("#expenseFriendSearch").val(),
        };

        $.ajax({
            url: "/Friend/ExpenseFriendList",
            type: "POST",
            data: { filter },
            success: function (response) {
                if (!response.statusCode) {
                    if (response.success == false) {
                        toastr.error(response.message);
                    }
                    else {
                        $("#expenseFriendList").html(response);
                    }
                }
            },
            error: function () {
                toastr.error('@NotificationMessages.InternalServerError');
            }
        });
    }
</script>