@model GroupVM
@{
    ViewData["Title"] = "Group Details";
    int currentUserId = int.Parse(User.FindFirst("id")?.Value);
}

<breadcrumb></breadcrumb>
<h3
    class="d-flex flex-wrap justify-content-between align-items-center gap-3 bg-white mb-3 p-3 text-dark-emphasis shadow">
    <div class="d-flex align-items-center gap-3">
        <img src="@(Model.ImagePath ?? "/images/default_group_img.png")" alt="Group image"
            class="rounded-circle border border-dark-subtle object-fit-cover" width="70px" height="70px">
        @Model.Name
    </div>

    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-primary" type="button" onclick="addgroupMemberModal(@Model.Id)">Add New Member</button>
        <a asp-action="Index" asp-controller="Group" class="btn btn-secondary">Back</a>
    </div>
</h3>

<div class="bg-white p-3" id="groupDetailContainer">
    <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="group-expenses-tab" data-bs-toggle="pill"
                data-bs-target="#group-expenses" type="button" role="tab" aria-controls="group-expenses"
                aria-selected="false" onclick="getGroupExpenseList(1)">Expenses</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="group-activity-tab" data-bs-toggle="pill" data-bs-target="#group-activity"
                type="button" role="tab" aria-controls="group-activity" aria-selected="false"
                onclick="">Activity</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="group-members-tab" data-bs-toggle="pill" data-bs-target="#group-members"
                type="button" role="tab" aria-controls="group-members" aria-selected="true"
                onclick="fetchGroupMembers()">Members</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="group-noticeboard-tab" data-bs-toggle="pill"
                data-bs-target="#group-noticeboard" type="button" role="tab" aria-controls="group-noticeboard"
                aria-selected="true">Notice board</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="group-expenses" role="tabpanel" aria-labelledby="group-expenses-tab">
            <div class="d-flex flex-wrap justify-content-between gap-3 mb-3">
                <div class="d-flex align-items-center gap-2">
                    <input type="text" class="searchBox form-control border-secondary-subtle rounded-0"
                        id="groupExpenseListSearch" placeholder="Search">
                </div>
                <div class="d-flex gap-2">
                    <a asp-action="AddGroupExpense" asp-controller="Expense" asp-route-groupId="@Model.Id"
                        class="btn btn-primary" type="button">Add Expense</a>
                </div>
            </div>
            <div id="groupExpensesOuter" class="listOuter bg-white"></div>
        </div>
        <div class="tab-pane fade" id="group-activity" role="tabpanel" aria-labelledby="group-activity-tab">This group
            has no activity.</div>
        <div class="tab-pane fade" id="group-members" role="tabpanel" aria-labelledby="group-members-tab"></div>
        <div class="tab-pane fade" id="group-noticeboard" role="tabpanel" aria-labelledby="group-noticeboard-tab">
            <div class="input-group mt-4 rounded-0">
                <textarea asp-for=@Model.NoticeBoard class="form-control border-secondary-subtle rounded-0"
                    placeholder="Notice board" rows="10" disabled></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* Group members *@
    <script>
        // Fetch group members
        function fetchGroupMembers() {
            $("#group-members").empty();
            $.ajax({
                url: "/Group/GroupMembers",
                type: "GET",
                data: { groupId: '@Model.Id' },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#group-members").html(response);
                        }
                    }
                },
                error: function () {
                    toastr.error("Internal server error.");
                }
            });
        }

        // Fetch add new member modal
        function addgroupMemberModal(groupId) {
            $("#largeModalContent").empty();
            $.ajax({
                url: "/Group/AddgroupMemberModal",
                type: "GET",
                data: { groupId },
                success: function (response) {
                    if (!response.statusCode) {
                        $("#largeModalContent").html(response);
                        $("#largeModal").modal("show");
                    }
                },
                error: function () {
                    $("#largeModal").modal("hide");
                    toastr.error('@(NotificationMessages.CanNot.Replace("{0}", "add friend"))');
                },
            });
        }

        // Remove group member
        function removeGroupMemberConfirm(groupMemberId) {
            $.ajax({
                url: "/Group/RemoveGroupMembers",
                type: "POST",
                data: { groupMemberId },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            toastr.success(response.message);
                            $("#confirmationModal").modal("hide");
                            // Update member list
                            fetchGroupMembers();
                        }
                    }
                },
                error: function () {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        }

        function leaveGroupConfirm(groupMemberId) {
            $.ajax({
                url: "/Group/RemoveGroupMembers",
                type: "POST",
                data: { groupMemberId },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            $("#confirmationModal").modal("hide");
                            toastr.error(response.message);
                        }
                        else {
                            toastr.success(response.message);
                            $("#confirmationModal").modal("hide");
                            // Redirect to group list
                            window.location = "/groups";
                        }
                    }
                },
                error: function () {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        }

        function removeGroupMember(groupMemberId, userName) {
            $("#confirmationModalTitle").text(`Remove group member`);
            $("#confirmationModalBody").html(`<span>Are you sure you want to remove <strong>${userName}</strong> from group?</span>`);
            $("#confirmationModalYesBtn").attr("onclick", `removeGroupMemberConfirm(${groupMemberId})`);
            $("#confirmationModal").modal("show");
        }

        function leaveGroup(groupMemberId) {
            $("#confirmationModalTitle").text(`Leave group`);
            $("#confirmationModalBody").html(`<span>Are you sure you want to leave this group?</span>`);
            $("#confirmationModalYesBtn").attr("onclick", `leaveGroupConfirm(${groupMemberId})`);
            $("#confirmationModal").modal("show");
        }

        function leaveAndDeleteGroup(groupMemberId) {
            $("#confirmationModalTitle").text(`Leave and delete group`);
            $("#confirmationModalBody").html(`<span>Are you sure you want to leave and delete this group?</span>`);
            $("#confirmationModalYesBtn").attr("onclick", `leaveGroupConfirm(${groupMemberId})`);
            $("#confirmationModal").modal("show");
        }

    </script>

    @* Group Expenses *@
    <script>
        sortColumn = "";
        sortOrder = "";

        $(document).ready(function () {
            getGroupExpenseList(1);
        });

        $("#groupExpenseListSearch").on("input", function () {
            if (searchTimeout === null) {
                searchTimeout = setTimeout(function () {
                    getGroupExpenseList(1);
                }, 500);
            }
        });

        function getGroupExpenseList(currentPage = 1) {
            clearTimeout(searchTimeout);
            searchTimeout = null;

            let filter = {
                PageNumber: currentPage,
                PageSize: $("#groupExpensePageSize").val(),
                SearchString: $("#groupExpenseListSearch").val(),
                SortColumn: sortColumn,
                SortOrder: sortOrder
            };

            $.ajax({
                url: "/Expense/ExpensesByGroup",
                type: "POST",
                data: { filter, groupId: '@Model.Id' },
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#groupExpensesOuter").html(response);
                        }
                    }
                },
                error: function () {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        }

        // Handle sorting
        $(document).on("click", ".sortBtn", function () {
            sortColumn = $(this).data("column");
            sortOrder = $(this).data("order");
            getGroupExpenseList(1);
        });
    </script>
}
