@model User
@{
    ViewData["Title"] = "Settlement";
}

<breadcrumb></breadcrumb>
<h3 class="bg-white mb-3 p-3 text-dark-emphasis shadow">
    Settle up with <span class="text-purple">@($"{Model.FirstName} {Model.LastName}")</span>
</h3>

<div class="bg-white" id="settlementListOuter">
    
</div>


@section Scripts {
    <script>
        $(document).ready(function(){
            getSettlementList('@Model.Id');
        });

        // Settlement list
        function getSettlementList(friendUserId){
            $("#settlementListOuter").empty();
            $.ajax({
                url: "/Settlement/SettlementList",
                type: "GET",
                data: { friendUserId},
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#settlementListOuter").html(response);
                        }
                    }
                },
                error: function () {
                    toastr.error("Internal server error.");
                }
            });
        }

        // Fetch add settlement modal
        function fetchSettlementModal(amount, groupId = 0, friendUserId = 0, settleAll = false) {
            $("#regularModalContent").empty();
            $.ajax({
                url: "/Settlement/SettlementModal",
                type: "POST",
                data: { amount, groupId, friendUserId, settleAll },
                success: function (response) {
                    if (!response.statusCode) {
                        $("#regularModalContent").html(response);
                        $("#regularModal").modal("show");
                    }
                },
                error: function () {
                    $("#regularModal").modal("hide");
                    toastr.error('@(NotificationMessages.InternalServerError)');
                },
            });
        }

        // Save form
        $(document).on("submit", "#settlementForm", function (e) {
            e.preventDefault();

            if(!parseFloat($("#Amount").val()))
            {
                toastr.error("Enter amount greater then zero.");
                return;
            }

            let formData = new FormData(this);

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (!response.statusCode) {
                        if (response.success) {
                            toastr.success(response.message);
                            getSettlementList('@Model.Id');
                            settlementSuccess();
                        }
                        else if (response.success == false) {
                            toastr.error(response.message);
                        }
                        else {
                            $("#regularModalContent").html(response);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('@NotificationMessages.InternalServerError');
                }
            });
        });
    </script>
}