@using SplitWiseRepository.ViewModels
@model PasswordResetVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}

<div class="d-flex flex-column align-items-center vh-100">
    <div class="p-4 p-md-5 rounded-4 bg-white shadow my-auto" id="loginFormOuter">
        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center gap-1">
                <img src="/images/fulllogo_transparent_nobuffer.png" alt="" width="100px">
            </div>
        </div>

        <form asp-action="ResetPassword" asp-controller="Auth">
            <input asp-for="@Model.ResetToken" hidden>

            <!-- Password -->
            <div class="input-group mt-4 rounded-2 shadow-sm">
                <input asp-for="@Model.NewPassword" type="password"
                    class="form-control border-secondary-subtle border-end-0" placeholder="New password">
                <span class="input-group-text bg-white border-secondary-subtle border-start-0">
                    <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
                </span>
            </div>
            <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>

            <!-- Confirm password -->
            <div class="input-group mt-4 rounded-2 shadow-sm">
                <input asp-for="@Model.ConfirmPassword" type="password"
                    class="form-control border-secondary-subtle border-end-0" placeholder="Confirm password">
                <span class="input-group-text bg-white border-secondary-subtle border-start-0">
                    <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
                </span>
            </div>
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>

            <div class="d-flex flex-column justify-content-center align-items-center gap-3 mt-4">
                <button type="submit" class="btn btn-primary w-auto shadow">Submit</button>
                <a asp-action="Login" asp-controller="Auth" class="text-primary link-underline-light fw-semibold">Back to Login</a>
            </div>
        </form>
    </div>
</div>
