@model PaginatedListVM<FriendVM>

<div class="table-responsive bg-white px-2">
    <table class="table text-nowrap">
        <thead class="position-sticky top-0 z-1">
            <tr>
                <th scope="col" class="col-3">
                    <span class="text-clr-grey text-dark-emphasis">Name</span>
                    <button class="btn p-0 sortBtn" data-column="name" data-order="asc" title="Asc">
                        <i class="bi bi-arrow-up"></i>
                    </button>
                    <button class="btn p-0 sortBtn" data-column="name" data-order="desc" title="Desc">
                        <i class="bi bi-arrow-down"></i>
                    </button>
                </th>
                <th scope="col" class="col-4">
                    <span class="text-clr-grey text-dark-emphasis">Email</span>
                    <a class="btn p-0 sortBtn" data-column="email" data-order="asc" title="Asc">
                        <i class="bi bi-arrow-up"></i>
                    </a>
                    <a class="btn p-0 sortBtn" data-column="email" data-order="desc" title="Desc">
                        <i class="bi bi-arrow-down"></i>
                    </a>
                </th>
                <th scope="col" class="col">
                    <span class="text-clr-grey text-dark-emphasis">Expense</span>
                </th>
                <th scope="col" class="col-1 text-center">
                    <span class="text-clr-grey text-dark-emphasis">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (FriendVM friend in Model.List)
            {
                <tr>
                    <td class="d-flex align-items-center gap-2">
                        <img src="@(friend.ProfileImagePath ?? "/images/Default_pfp.png")"
                            class="object-fit-cover rounded-circle border border-secondary-subtle" width="40px">
                        <span>@friend.Name</span>
                    </td>
                    <td >@friend.EmailAddress</td>
                    <td
                        class="@(friend.Expense < 0 ? "text-danger" : "text-success")">
                        @(friend.Expense == 0 ? $"Expense is settled" : (friend.Expense > 0 ? $"You are owed ₹{friend.Expense.ToString("N2")}" : $"Owes you ₹{((-1)*friend.Expense).ToString("N2")}"))
                    </td>
                    <td class="text-center">
                        @if (Model.IsDeletedData)
                        {
                            <a class="btn border-0" title="Send Friend Request" onclick="sendRequest('@friend.EmailAddress')">
                                <i class="bi bi-send-fill text-primary"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Settlement" asp-action="Index" asp-route-friendUserId="@friend.UserId" class="btn btn-navbar"title="Settle Up">
                                <i class="bi bi-credit-card"></i>
                            </a>
                            <button type="button" class="btn border-0" title="Remove Friend"
                                onclick="removeFriend(@friend.FriendId, '@friend.Name')">
                                <i class="bi bi-person-x-fill text-danger"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (!(Model.Page.TotalRecord > 0))
{
    @if (Model.IsDeletedData)
    {
        <p class="p-4 text-center">There are no removed friends found</p>
    }
    else
    {
        <p class="p-4 text-center">No friends found</p>
    }
}
else
{
    <!-- Pagination -->
    <div class="pagination d-flex flex-column flex-sm-row justify-content-end align-items-sm-center mt-3 px-1 pb-3">
        <div class="d-flex align-items-center">
            <span class="mx-1">Items Per page: </span>
            <select class="form-select w-auto mx-1" id="friendPageSize" onchange="getFriendList(1)"
                aria-label="Default select example" title="Page sige">
                <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
            </select>
        </div>
        <span class="mx-1">
            Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord
        </span>
        <div>
            <button class="btn p-1 border @(Model.Page.CurrentPage > 1 ? " " : "disabled")"
                onclick="getFriendList(@Model.Page.CurrentPage-1)" title="Prev page">
                <i class="bi bi-chevron-left p-1"></i>
            </button>
            <button class="btn p-1 border @(Model.Page.CurrentPage < Model.Page.TotalPages ? " " : "disabled")"
                onclick="getFriendList(@Model.Page.CurrentPage+1)" title="Next page">
                <i class="bi bi-chevron-right p-1"></i>
            </button>
        </div>
    </div>
    <!-- Pagination end -->
}