@using SplitWiseRepository.ViewModels
@model PasswordResetVM
@{
    ViewData["Title"] = "Change Password";
}

<h3 class="bg-white mb-3 px-2 py-3 text-dark-emphasis shadow">Change Password</h3>

<form asp-action="ChangePassword" asp-controller="User" style="max-width: 350px;">
    <!-- Password -->
    <div class="input-group rounded-2 shadow-sm">
        <input asp-for="@Model.Password" type="password" class="form-control border-secondary-subtle border-end-0"
            placeholder="Current password" autocomplete="">
        <span class="input-group-text bg-white border-secondary-subtle border-start-0">
            <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
        </span>
    </div>
    <span class="text-danger" asp-validation-for="@Model.Password"></span>

    <!-- New password -->
    <div class="input-group mt-4 rounded-2 shadow-sm">
        <input asp-for="@Model.NewPassword" type="password" class="form-control border-secondary-subtle border-end-0"
            placeholder="New password">
        <span class="input-group-text bg-white border-secondary-subtle border-start-0">
            <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
        </span>
    </div>
    <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>

    <!-- Confirm password -->
    <div class="input-group mt-4 rounded-2 shadow-sm">
        <input asp-for="@Model.ConfirmPassword" type="password"
            class="form-control border-secondary-subtle border-end-0" placeholder="Confirm password">
        <span class="input-group-text bg-white border-secondary-subtle border-start-0">
            <i class="bi bi-eye-slash-fill" onclick="togglePasswordVisibility(this)"></i>
        </span>
    </div>
    <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>

    <div class="d-flex align-items-center gap-3 mt-4">
        <button type="submit" class="btn btn-primary w-auto shadow">Change password</button>
        <a asp-action="Index" asp-controller="Dashboard" class="btn btn-secondary w-auto shadow">Cancel</a>
    </div>
</form>
