@using SplitWiseRepository.ViewModels
@model UserVM
@{
    ViewData["Title"] = "Profile";
}

<breadcrumb></breadcrumb>
<div class="py-3">
    <form asp-action="Update" asp-controller="User" id="profileForm" class="d-flex flex-column"
        style="max-width: 500px;" enctype="multipart/form-data">
        <!-- Image -->
        <input asp-for="@Model.ProfileImage" accept="image/png, image/jpg, image/jpeg" hidden>

        <label for="ProfileImage" class="cursor-pointer" title="Click to select an image" style="width: 100px;">
            <img src=@(Model.ProfileImagePath ?? "/images/Default_pfp.png") alt="" id="previewImage"
                class="rounded-circle border border-dark-subtle object-fit-cover" width="100px" height="100px">
        </label>
        <span class="text-danger" asp-validation-for="@Model.ProfileImage"></span>

        <p class="mt-4 mb-0"><strong>Email:</strong> @Model.EmailAddress</p>

        <!-- First Name -->
        <div class="input-group mt-4 rounded-2 shadow-sm">
            <input asp-for=@Model.FirstName class="form-control border-secondary-subtle border-end-0"
                id="inputFirstName" placeholder="First Name">
            <span class="input-group-text bg-white border-secondary-subtle border-start-0" id="basic-addon1">
                <img src="~/images/icons/customer-dark.svg" alt="" class="0">
            </span>
        </div>
        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>

        <!-- Last Name -->
        <div class="input-group mt-4 rounded-2 shadow-sm">
            <input asp-for=@Model.LastName class="form-control border-secondary-subtle border-end-0" id="inputLastName"
                placeholder="Last Name">
            <span class="input-group-text bg-white border-secondary-subtle border-start-0" id="basic-addon1">
                <img src="~/images/icons/customer-dark.svg" alt="" class="0">
            </span>
        </div>
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>

        <!-- Address -->
        <div class="input-group mt-4 rounded-2 shadow-sm">
            <textarea asp-for=@Model.Address class="form-control border-secondary-subtle" placeholder="Address"
                rows="3"></textarea>
        </div>

        <!-- Birthdate -->
        <div class="input-group mt-4 rounded-2 shadow-sm">
            <input asp-for=@Model.Birthdate type="date" class="form-control rounded-2 border-secondary-subtle">
        </div>
        <span class="text-danger" asp-validation-for="@Model.Birthdate"></span>

        <!-- Currency -->
        <div class="input-group mt-4 rounded-2 shadow-sm">
            <select asp-for="@Model.CurrencyId" class="form-select rounded-2 border-secondary-subtle">
                @foreach (Currency currency in Model.Currencies)
                {
                    <option value="@currency.Id">@currency.Name</option>
                }
            </select>
        </div>
        <span class="text-danger" asp-validation-for="@Model.CurrencyId"></span>

        <div class="d-flex align-items-center gap-3 mt-4">
            <button type="submit" class="btn btn-primary w-auto shadow">Update</button>
            <a href="#" onclick="getPage('dashboard', 'dashboardPageNav')" class="btn btn-secondary w-auto shadow">Cancel</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#ProfileImage').on('change', function () {
            const validTypes = ['image/jpeg', 'image/jpg', 'image/png'];
            const file = this.files[0];

            if (file) {
                if (!validTypes.includes(file.type)) {
                    toastr.error("Only following image types are allowed: jpeg, jpg, png.");
                    $(this).val("");
                    $('#previewImage').attr('src', '@(Model.ProfileImagePath ?? "/images/Default_pfp.png")');
                    return;
                }
                else {
                    // Show preview
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewImage').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });
    });
</script>
